header {
    cursor          : pointer;
    position        : fixed;
    top             : 0;
    left            : 0;
    background-color: #fefefe;
    width           : 100vw;
    z-index         : 200;

    ul {
        display: flex;
    }

    nav {
        display              : grid;
        grid-template-columns: repeat(3, 1fr);

        @media(max-width:560px) {
            grid-template-columns: repeat(1, 1fr);
        }

        li {
            font-size: 2rem;
            padding  : .5rem 1.5rem;
        }

        >ul:first-child {
            .logo {
                font-weight: 700;
                font-size  : 2.3rem;
            }

            grid-column: 1/3;

            @media(max-width:560px) {
                grid-column: 1/1;
            }

            .logo {
                margin-right: 100px;

                @media(max-width:560px) {
                    margin-right: 50px;
                }
            }

            ul {
                li a {
                    color: rgb(185, 185, 185);
                }
            }

        }

        >ul:last-child {
            background-color: gainsboro;
        }

        >ul:last-child:hover {
            background-color: white;
        }

        >ul:hover {

            background-color: gainsboro;

            a:hover {
                opacity: .5;
            }

            ul {

                li a {
                    color: white;
                }
            }

        }
    }
}