@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import "./header/_header";
@import "./main/_main";
@import "./see_more/_see_more";
@import "./animation_article/_animation_article";

*,
*::after,
*::before {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans',
        sans-serif;
    background-color: #fefefe;
    width           : 100vw;
    overflow-x      : hidden;
    height          : 100%;
    min-height      : 100vh;
}

a {
    text-decoration: none;
    color          : inherit;
}

ul {
    list-style: none;
}

.none {
    display: none;
}